<div class="update-recipe-container">
  <h2>Edit Recipe</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="RecipeDetails.title"
      required
    />

    <label for="description">Description:</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="RecipeDetails.description"
      required
    ></textarea>

    <label for="thumbnail">Thumbnail URL:</label>
    <input
      type="text"
      id="thumbnail"
      name="thumbnail"
      [(ngModel)]="RecipeDetails.thumbnail"
      required
    />

    <label for="ingredients">Ingredients:</label>
    <ul>
      <li *ngFor="let ingredient of RecipeDetails.ingredients; let i = index">
        <input
          type="text"
          [(ngModel)]="RecipeDetails.ingredients[i]"
          name="ingredient{{ i }}"
          required
        />
        <button type="button" (click)="removeIngredient(i)">Remove</button>
      </li>
    </ul>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>

    <label for="cookingInstructions">Cooking Instructions:</label>
    <textarea
      id="cookingInstructions"
      name="cookingInstructions"
      [(ngModel)]="RecipeDetails.cookingInstructions"
      required
    ></textarea>

    <button type="submit">Update Recipe</button>
  </form>
</div>
<button class="back-button" [routerLink]="'/recipes'">Back</button>
