nav {
  height: 50px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h1 {
  color: #fff;
  cursor: pointer;
}

p {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
